<h2 id="title">ember-fullscreen</h2>

<h3>Page fullscreen</h3>
<button onclick={{action "toggleFullscreen"}}>Toggle fullscreen</button>
<p>Fullscreen {{if fullscreen.isEnabled "enabled" "disabled"}}</p>

<h3>Element fullscreen</h3>
<p>Click the cat to make it fullscreen.</p>
{{fullscreen-img src="cat.jpg" id="demo-img"}}
